{% extends "base.html" %}

{% block content %}

 This will diplay all the exercises

<body class="exercises-background">
    <h1>Exercises</h1>

    <table class="exercise-table">
        <tr>
            <th><h2>Exercise Type</h2></th>
            <th><h2>Name of Exercise</h2></th>
            <th><h2>Rep Max</h2></th>
            <th><h2>Personal Best:</h2></th>
        </tr>
        
    {% for exercise in exercises %}
        
            <td> {{exercise.exercise_type}} </td>
            <td> {{exercise.name_of_exercise}} </td>
            <td> {{exercise.rep_max}} </td>
            <td> {{exercise.personal_best}} </td>
        </div>
        
    </table>
</body> 
    {% endfor %}

{% endblock %}